<h1>Obviously you have been able to log in and it all worked out fine, so you reached the SECRET PAGE!</h1>

<img src="https://i.pinimg.com/originals/49/65/2a/49652ab462648d06af9e0ebc03ef8427.jpg">

<li><a href="./logout">Logout</a></li>